html {
  scroll-behavior: smooth;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

.logo {
  height: 64px;
  width: auto;
  margin: 0 35px;
  padding: 20px 0;
  display: inline-block;
}

body {
  height: 125vh;
  /* background-image: url("../images/Abstract\ background\ vector\ 1.jpg"); */
  background: black;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 50px;
  margin: 0;
  padding: 20px;
}

#logo {
  position: relative;
  float: left;
  width: 64px;
  height: 64px;
  margin-top: 5px;
}

nav {
  float: right;
  margin-top: 5px;
}

header {
  z-index: 2;
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 70px;
  align-items: center;
  line-height: 70px;
}

header ul {
  float: right;
}

header li {
  display: inline-block;
  margin: 0 35px;
}

header li a {
  color: white;
  text-decoration: none;
}

header li a:hover {
  color: rgb(68, 66, 66);
}

header * {
  display: inline;
}

section {
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#dan .profile-img {
  width: 400px;
  border-radius: 90%;
}

#about h2 {
  font-size: 3em;
}


h1,
h2,
h3,
p {
  margin-bottom: 20px;
}

footer {
  background-color: black;
  position: relative;
}

#footer p{
  font-size: 1.5rem
}

footer li {
  display: inline-block;
  margin: 0 35px;
}

footer li a {
  color: white;
  text-decoration: none;
}

footer li a:hover {
  color: rgb(68, 66, 66);
}



section h2 {
  font-size: 2.5em;
}

section h3 {
  font-size: 1.5em;
  font-weight: 700;
}



#dan h1 {
  font-size: 3em;
}

.email, .resume{
  font-weight: bolder;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.0em;
  color: black;
  margin: 20px;
}

section h2 {
  font-size: 2.5em;
}

section h3 {
  font-size: 1.5em;
}

section p {
  font-size: 1.5em;
  
}

#projects img {
  width: 250px;
}

#illustrations img {
  width: 250px;
}

.pf-icon {
  width: 50%;
  height: auto;
}

td h3,
h4 {
  font-size: 1em;

  font-weight: bolder;
}

td p {
  font-size: 0.8em;
  font-weight: 50;
  margin: auto;
  display: block;
}

.center h3 {
  border: 1px solid black;
}


.center {
  width: 250px;
  height: 180px;
  overflow: hidden;
  position: relative;
  text-align: center;
  border: 2px solid black;
  
  /* box-shadow: inset 0 0 0 0 #31302B;
	-webkit-transition: all ease 0.8s;
	-moz-transition: all ease 0.8s;
	transition: all ease 0.8s; */
}

/* .center:hover
{
        opacity:1;
        
        box-shadow: inset 250px 0 0 0 black;
        color: #fff;
} */


.gallery img {
  transition: 1s;
  padding: 15px;
  width: 250px;
}

.gallery img:hover {
  filter: grayscale(100%);
  transform: scale(1.1);
}

header a {
  text-decoration: none;
  color: black;
}

#dan {
  background-image: url("../images/background-2462430_1920.jpg");
}

#about {
  background-image: url("../images/abstract-267046_1920.png");
}

#projects {
  background-image: url("../images/roof-175685_1920.jpg");
}

#illustrations {
  background-image: url("../images/illustrate2.jpg");
}

h2 {
  font-size: 22px;
}

p1 {
  font-size: 18px;
  color: #110f0f;
  margin-right: 20%;
}

footer {
  text-align: center;
  padding: 30px;
  background-color: black;
  color: beige;
}

/* Gallery */
.hovereffect {
  width: 100%;
  height: 100%;
  /* float: left; */
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
}

.hovereffect .overlay {
  width: 250px;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;

  border: 2px solid black;
}

.hovereffect img {
  display: block;
  position: relative;
}

.hovereffect h2 {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  font-size: 17px;
}

.hovereffect:hover h2 {
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transform: translate3d(-50%, -50%, 0) scale3d(0.8, 0.8, 1);
  transform: translate3d(-50%, -50%, 0) scale3d(0.8, 0.8, 1);
}

.hovereffect a.info {
  display: inline-block;
  text-decoration: none;
  padding: 7px 14px;
  text-transform: uppercase;
  color: #fff;
  border: 1px solid #fff;
  margin: 50px 0 0 0;
  background-color: transparent;
}

.hovereffect a.info:hover {
  box-shadow: 0 0 5px #fff;
}

.hovereffect h2,
.hovereffect p {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
  -webkit-transform-origin: 50%;
  -ms-transform-origin: 50%;
  transform-origin: 50%;
  background-color: transparent;
  margin: 0px;
  padding: 0px;
}

.hovereffect .overlay:before {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40%;
  height: 60%;
  border: 2px solid #fff;
  content: "";
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(-50%, -50%, 0) rotate3d(0, 0, 1, -45deg)
    scale3d(0, 0, 1);
  transform: translate3d(-50%, -50%, 0) rotate3d(0, 0, 1, -45deg)
    scale3d(0, 0, 1);
  -webkit-transform-origin: 50%;
  -ms-transform-origin: 50%;
  transform-origin: 50%;
}

.hovereffect p {
  width: 20%;
  text-transform: none;
  font-size: 15px;
  line-height: 2;
}

.hovereffect p a {
  color: #fff;
}

.hovereffect p a:hover,
.hovereffect p a:focus {
  opacity: 0.6;
  filter: alpha(opacity=60);
}

.hovereffect a i {
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  padding: 0px 5px;
}

.hovereffect p a:first-child i {
  -webkit-transform: translate3d(-60px, -60px, 0);
  transform: translate3d(-60px, -60px, 0);
}

.hovereffect p a:nth-child(2) i {
  -webkit-transform: translate3d(60px, -60px, 0);
  transform: translate3d(60px, -60px, 0);
}

.hovereffect p a:nth-child(3) i {
  -webkit-transform: translate3d(-60px, 60px, 0);
  transform: translate3d(-60px, 60px, 0);
}

.hovereffect p a:nth-child(4) i {
  -webkit-transform: translate3d(60px, 60px, 0);
  transform: translate3d(60px, 60px, 0);
}

.hovereffect:hover .overlay:before {
  opacity: 1;
  filter: alpha(opacity=100);
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transform: translate3d(-50%, -50%, 0) rotate3d(0, 0, 1, -135deg)
    scale3d(1, 1, 1);
  transform: translate3d(-50%, -50%, 0) rotate3d(0, 0, 1, -135deg)
    scale3d(1, 1, 1);
}

.hovereffect:hover p i:empty {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  opacity: 1;
  filter: alpha(opacity=100);
}

/* Scroll button */
.scroll-down {
  opacity: 1;
  -webkit-transition: all 0.5s ease-in 3s;
  transition: all 0.5s ease-in 3s;
}

.scroll-down {
  position: absolute;
  bottom: 30px;
  left: 50%;
  margin-left: -16px;
  display: block;
  width: 32px;
  height: 32px;
  border: 2px solid rgb(12, 11, 11);
  background-size: 14px auto;
  border-radius: 50%;
  z-index: 2;
  -webkit-animation: bounce 2s infinite 2s;
  animation: bounce 2s infinite 2s;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.scroll-down:before {
  position: absolute;
  top: calc(50% - 8px);
  left: calc(50% - 6px);
  transform: rotate(-45deg);
  display: block;
  width: 12px;
  height: 12px;
  content: "";
  border: 2px solid rgb(0, 0, 0);
  border-width: 0px 0 2px 2px;
}

@keyframes bounce {
  0%,
  100%,
  20%,
  50%,
  80% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  60% {
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
  }
}

.scroll-up {
  opacity: 1;
  -webkit-transition: all 0.5s ease-in 3s;
  transition: all 0.5s ease-in 3s;
}

.scroll-up {
  position: absolute;
  bottom: 30px;
  left: 50%;
  margin-left: -16px;
  display: block;
  width: 32px;
  height: 32px;
  border: 2px solid rgb(12, 11, 11);
  background-size: 14px auto;
  border-radius: 50%;
  z-index: 2;
  -webkit-animation: bounce 2s infinite 2s;
  animation: bounce 2s infinite 2s;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.scroll-up:before {
  position: absolute;
  top: calc(50% - 4px);
  left: calc(50% - 6px);
  transform: rotate(135deg);
  display: block;
  width: 12px;
  height: 12px;
  content: "";
  border: 2px solid rgb(0, 0, 0);
  border-width: 0px 0 2px 2px;
}

@keyframes bounce {
  0%,
  100%,
  20%,
  50%,
  80% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  60% {
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
  }
}
